:root {
  --white: #fff;
  --gray-01: #e8e8e8;
  --gray-02: #d1d1d1;
  --gray-03: #9c9894;
  --gray-04: #9f9993;
  --gray-05: #717171;
  --gray-06: #707070;
  --gray-07: #404040;
  --blue: #0057c8;
  --black: #1a1a1a;
  --orange-01: #ffaa00;
  --orange-02: #ff8000;
  --orange-03: #ff5700;
  --red-01: #e30800;

  --container-xl: 1520px;
  --container-md: 1320px;
  --gutter: clamp(16px, 4vw, 220px);
}
html {
  font-size: 10px;
}
body {
  line-height: 1.5;
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}
.background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: -1;
}

.font-teko {
  font-family: "Teko", sans-serif;
}

/* 사이즈 변형 */
/* 1520px */
.container--xl {
  max-width: var(--container-xl);
  margin: 0 auto;
}
/* 1320px */
.container--md {
  max-width: var(--container-md);
  margin: 0 auto;
}

/* header */
.header {
  font-size: 1.5rem;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3);
}
.header--sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-weight: 700;
  text-decoration: none;
  background-image: url("../assets/images/logo.svg");
  width: 162px;
  height: 42px;
}
.header__nav {
  display: flex;
  gap: 39px;
  padding: 35px 0 32px 0;
  color: var(--white);
}
.header__link {
  color: var(--white);
  text-decoration: none;
}
.header__link:hover {
  text-decoration: underline;
}
.header__link--active,
.header__link[aria-current="page"] {
  font-weight: 700;
  text-decoration: underline;
}

/* main */
/* banner */

.banner__inner {
  position: relative;
}
.banner__list {
  overflow: hidden;
}
.banner__item {
  position: relative;
  height: 100vh;
}
.banner__content {
  position: absolute;
  inset: 0;
  top: -90px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px;
}
.banner__title {
  font-size: 5.2rem;
  color: var(--white);
  line-height: 1.2;
  max-width: 644px;
  font-weight: 700;
}
.banner__desc {
  color: #c5b4b4;
  font-size: 2rem;
  max-width: 424px;
  font-weight: 300;
}

/* banner__controls */
.banner__controls {
  bottom: 124px;
  display: flex;
  align-items: center;
  transform: translateY(calc(-100% - 124px));
}
.banner__btn {
  width: 30px;
  height: 30px;
}
.progress {
  width: 200px;
  height: 10px;
  background-color: #ddd;
  overflow: hidden;
}
.progress__fill {
  width: 20%;
  height: 100%;
  background-color: #ff6600;
}

.main-title {
  font-size: 36px;
  font-weight: 600;
  font-family: "Poppins";
  font-size: 36px;
  text-align: center;
  padding-top: 78px;
  padding-bottom: 40px;
}
/* pipeline */

.pipeline__inner {
  padding-bottom: 100px;
}
.pipeline__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.pipeline__card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.pipeline-card {
  border: 1px solid #e8e8e8;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.pipeline-card__summary {
  list-style: none;
}
.pipeline-card__icon {
  background-image: url("../assets/images/main/pipeline_01.png");
  width: inherit;
  height: 70px;
}
.pipeline-card__title {
  font-size: 19px;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 8px;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Poppins";
}
.pipeline-card__descript {
  visibility: hidden;
  font-size: 14px;
  text-align: center;
  display: block;
  color: var(--gray-06);
  line-height: 1.3;
}
.pipeline-card__toggle {
  background-image: url("../assets/images/main/more.png");
  width: 18px;
  height: 18px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.pipeline-card[open],
.pipeline-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);
  border: 1px solid transparent;
}
.pipeline-card[open] .pipeline-card__toggle,
.pipeline-card:hover .pipeline-card__toggle {
  display: none;
}

.pipeline-card__summary::-webkit-details-marker {
  display: none;
}

.pipeline-card[open] .pipeline-card__descript,
.pipeline-card:hover .pipeline-card__descript {
  visibility: visible;
}

/* *********** what-we-do *********** */
.whatwedo {
  background-color: #f7f7f7;
  padding-bottom: 100px;
}

.whatwedo__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.8rem;
}
.whatwedo-card__images {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}
.whatwedo-card__image {
  aspect-ratio: 1.1;
  background-color: #fff;
  background-size: cover;
}

.whatwedo__card:first-child .whatwedo-card__image {
  background-image: url("../assets/images/main/what_01.png");
}
.whatwedo__card:nth-child(2) .whatwedo-card__image {
  background-image: url("../assets/images/main/what_02.png");
}
.whatwedo__card:nth-child(3) .whatwedo-card__image {
  background-image: url("../assets/images/main/what_03.png");
}
.whatwedo__card:nth-child(4) .whatwedo-card__image {
  background-image: url("../assets/images/main/what_04.png");
}
.whatwedo-card__content {
  font-family: "Poppins";
  padding: 2.2rem;
  padding-top: 3.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 166px;
  box-sizing: border-box;
  background-color: var(--white);
}
.whatwedo-card__title {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--black);
  line-height: 1.2;
}
.whatwedo-card__more {
  font-size: 1.3rem;
  color: #5e5e5e;
  align-self: flex-end;
}
/* *********** core-tech *********** */
.core-tech {
  background-image: url("../assets/images/main/core_bg.png");
  padding: 90px 0 100px 0;
  background-size: cover;
}
.core-tech__inner {
  position: relative;
}
.core-tech__title {
  color: var(--white);
}
.core-tech__images {
  display: flex;
  gap: 10rem;
  overflow-x: hidden;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.core-tech__image {
  aspect-ratio: 16 / 10;
  min-height: 564px;
  background-size: cover;
  flex-shrink: 0;
  opacity: 50%;
}
.core-tech__image.active {
  opacity: 1;
}
.core-tech__image:first-child {
  background-image: url("../assets/images/main/core_01.png");
}
.core-tech__image:nth-child(2) {
  background-image: url("../assets/images/main/core_02.png");
}
.core-tech__image:nth-child(3) {
  background-image: url("../assets/images/main/core_03.png");
}

.core-tech__item-title {
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1.6rem;
  font-family: "Poppins", sans-serif;
  color: var(--black);
}
.core-tech__content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.core-tech__lists {
  position: relative;
  width: 500px;
}
.core-tech__list {
  background-color: var(--white);
  padding: 50px;
  height: 400px;
  box-sizing: border-box;
}
.core-tech__item {
  display: block;
}
.core-tech__desc {
  font-size: 1.6rem;
  color: var(--gray-05);
  font-weight: 300;
  width: 70%;
}
.core-tech__controls {
  position: absolute;
  bottom: 0;
}
.core-tech__cta {
  all: unset;
  position: absolute;
  right: 3.5rem;
  bottom: 3.2rem;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--orange-03);
}
.core-tech__link {
  display: block;
}
.core-tech__cta::before {
  content: "";
  display: block;
  background-image: url("../assets/images/main/more_orange.png");
  width: 1rem;
  height: 1rem;
  background-size: contain;
  position: absolute;
  left: -1.4rem;
  top: 50%;
  transform: translate(-100%, -50%);
}
.core-tech__controls {
  font-size: 0;
}
.core-tech__btn {
  width: 5.6rem;
  height: 5.6rem;
  border: 0;
  border-radius: 0;
  background-color: #eeeeee;
}
.core-tech__btn--next {
  background-color: #e3e3e3;
}
.core-tech__btn--prev .background {
  background-image: url("../assets/images/main/arrow_left_gray.png");
  height: 3.4rem;
  display: block;
}

.core-tech__btn--next .background {
  background-image: url("../assets/images/main/arrow_right_gray.png");
  height: 3.4rem;
  display: block;
}
/* news-notice */
.news-notice__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 9rem;
  margin-bottom: 11rem;
  gap: 3rem;
}
.news-notice__title {
  text-align: left;
  padding: 0;
  line-height: 1;
}
.news-notice__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.news-notice__header a {
  background-image: url("../assets/images/main/more_2.png");
  width: 3.4rem;
  height: 3.4rem;
}
.news-notice__lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-notice__contents {
  height: calc(100% - 56px);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.news-notice__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 0 1rem;
  border-bottom: 1px solid var(--gray-02);
}
.news-notice__item a {
  color: #626262;
}
.news-notice__item time {
  font-size: 1.2rem;
  color: var(--gray-03);
}
.news-notice__banners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.news-notice__link {
  color: var(--white);
  height: 278px;
  padding: 2.8rem;
  box-sizing: border-box;
  position: relative;
}

.news-notice__link:first-child {
  background-image: linear-gradient(135deg, #ffd500, #ff4e00);
}
.news-notice__link:nth-child(2) {
  background-image: linear-gradient(135deg, #9f9f9f, #505050);
}
.news-notice__link .link-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.8rem;
  font-weight: 600;
}
.news-notice__link .link-text {
  font-size: 1.5rem;
  margin-top: 1.2rem;
}
.news-notice__link .link-icon {
  position: absolute;
  right: 2.6rem;
}
.news-notice__link:first-child .link-icon {
  width: 85px;
  height: 82px;
  background-image: url("../assets/images/main/link.png");
  bottom: 2.5rem;
}
.news-notice__link:nth-child(2) .link-icon {
  width: 118px;
  height: 98px;
  background-image: url("../assets/images/main/Inquiry.png");
  bottom: 2.2rem;
}
/* footer */

.footer {
  background-color: #303030;
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__nav {
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid var(--gray-06);
  gap: 6rem;
}
.footer__nav-item > a {
  color: var(--gray-03);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  padding-top: 2rem;
  padding-bottom: 1.4rem;
  display: inline-block;
}
.footer__nav-item:not(:first-child) > a::before {
  content: "|";
  position: relative;
  left: -3rem;
  color: var(--gray-06);
}
.footer__contents {
  display: flex;
  align-items: flex-end;
  padding-top: 5rem;
  padding-bottom: 7rem;
}
.footer__contents-aside {
  display: grid;
  gap: 3rem;
  color: var(--gray-03);
  grid-template-columns: repeat(2, 1fr);
}
.footer__info-brand {
  font-weight: 500;
}
.footer__contact {
  display: flex;
  gap: 2rem;
  margin-top: 0.5rem;
}
.footer__contents-aside > p {
  font-size: 3.7rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--white);
}
.footer__name {
  font-size: 2.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  color: #dedede;
  opacity: 0.57;
  margin-bottom: 1rem;
}
.footer__info-brand {
  font-size: 1.6rem;
}
.footer__contact-label {
  font-weight: 700;
  color: var(--orange-01);
  margin-right: 0.4rem;
}
.footer__logo {
  color: var(--white);
  background-image: url("../assets/images/logo_footer.svg");
  width: 214px;
  height: 38px;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__copyright {
  font-size: 1.4rem;
  color: var(--gray-06);
}
