@charset "utf-8";
:root {
  --white: #fff;
  --gray-01: #e8e8e8;
  --gray-02: #d1d1d1;
  --gray-03: #9c9894;
  --gray-04: #9f9993;
  --gray-05: #717171;
  --gray-06: #707070;
  --gray-07: #404040;
  --blue: #0057c8;
  --black: #1a1a1a;
  --orange-01: #ffaa00;
  --orange-02: #ff8000;
  --orange-03: #ff5700;
  --red-01: #e30800;

  --container-xl: 1520px;
  --container-md: 1320px;
}
html {
  font-size: 10px;
}
body {
  line-height: 1.5;
  font-family: "Pretendard", sans-serif;
  font-weight: 300;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
  clip: rect(0 0 0 0);
}
.background {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
}
.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  z-index: -1;
}

.font-teko {
  font-family: "Teko", sans-serif;
}
.font-poppins {
  font-family: "Poppins", sans-serif;
}

/* 사이즈 변형 */
.container {
  margin: 0 auto;
  padding-inline: clamp(50px, 5vw, 200px);
}
/* 1520px */
.container--xl {
  max-width: var(--container-xl);
}
/* 1320px */
.container--md {
  max-width: var(--container-md);
}

/* header */
.header {
  font-size: 1.5rem;
  backdrop-filter: blur(8px);
  background: rgba(0, 0, 0, 0.3);
}
.header--sticky {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
}
.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-weight: 700;
  text-decoration: none;
  background-image: url("../assets/images/logo.svg");
  width: 16.2rem;
  height: 4.2rem;
}
.header__nav {
  display: flex;
  gap: 2vw;
  font-size: 1.5rem;
  padding: 2.3em 0 2.1em 0;
  color: var(--white);
}
.header__link {
  color: var(--white);
  text-decoration: none;
}
.header__link:hover {
  text-decoration: underline;
}
.header__link--active,
.header__link[aria-current="page"] {
  font-weight: 700;
  text-decoration: underline;
}

/* main */
/* ********** banner ********** */

.banner__inner {
  position: relative;
}
.banner__list {
  overflow: hidden;
}
.banner__item {
  position: relative;
  height: 100vh;
}
.banner__content {
  position: absolute;
  inset: 0;
  top: -90px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 32px;
}
.banner__title {
  font-size: 5.2rem;
  color: var(--white);
  line-height: 1.2;
  max-width: 64.4rem;
  font-weight: 700;
}
.banner__desc {
  color: #c5b4b4;
  font-size: 2rem;
  max-width: 42.4rem;
  font-weight: 300;
}

/* banner__controls */
.banner__controls {
  bottom: 12.4rem;
  display: flex;
  align-items: center;
  transform: translateY(calc(-100% - 12.4rem));
}
.banner__btn {
  width: 30px;
  height: 30px;
  position: relative;
  border: 0;
  background-color: transparent;
  background-size: 10px;
}
.banner__btn--prev {
  background-image: url("../assets/images/main/arrow_left.png");
  margin-right: 10px;
}
.banner__btn--next {
  background-image: url("../assets/images/main/arrow_right.png");
  margin-left: 10px;
}
.banner__index {
  color: var(--white);
  font-size: 13px;
  font-weight: 600;
}
.banner__index.last {
  opacity: 0.7;
  font-weight: 300;
}
.progress {
  width: 160px;
  height: 5px;
  background: rgba(255, 255, 255, 0.3);
  overflow: hidden;
  margin: 0 14px;
}
.progress__fill {
  height: 100%;
  background-color: #ff6600;
}

.main-title {
  font-size: 3.6rem;
  font-weight: 600;
  font-family: "Poppins";
  text-align: center;
  padding-top: 2.1em;
  padding-bottom: 1.1em;
}

/* *********** pipeline *********** */

.pipeline__inner {
  padding-bottom: 10em;
}
.pipeline__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.pipeline__card {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}
.pipeline-card {
  border: 1px solid #e8e8e8;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.pipeline-card__summary {
  list-style: none;
}
.pipeline-card__icon {
  width: inherit;
}
.pipeline__card:first-child .pipeline-card__icon {
  background-image: url("../assets/images/main/pipeline_01.png");
  height: 6.5rem;
}
.pipeline__card:nth-child(2) .pipeline-card__icon {
  background-image: url("../assets/images/main/pipeline_02.png");
  height: 8rem;
}
.pipeline__card:nth-child(3) .pipeline-card__icon {
  background-image: url("../assets/images/main/pipeline_03.png");
  height: 8.6rem;
}
.pipeline__card:nth-child(4) .pipeline-card__icon {
  background-image: url("../assets/images/main/pipeline_04.png");
  height: 6.8rem;
}
.pipeline__card:nth-child(5) .pipeline-card__icon {
  background-image: url("../assets/images/main/pipeline_05.png");
  height: 8.2rem;
}

.pipeline-card__title {
  font-size: 1.9rem;
  text-align: center;
  margin-top: 0.7em;
  margin-bottom: 0.4em;
  line-height: 1.2;
  font-weight: 600;
  font-family: "Poppins";
}
.pipeline-card__descript {
  visibility: hidden;
  font-size: 1.4rem;
  text-align: center;
  display: block;
  color: var(--gray-06);
  line-height: 1.3;
}
.pipeline-card__toggle {
  background-image: url("../assets/images/main/more.png");
  width: 18px;
  height: 18px;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.pipeline-card[open],
.pipeline-card:hover {
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.16);
  border: 1px solid transparent;
}
.pipeline-card[open] .pipeline-card__toggle,
.pipeline-card:hover .pipeline-card__toggle {
  display: none;
}

.pipeline-card__summary::-webkit-details-marker {
  display: none;
}

.pipeline-card[open] .pipeline-card__descript,
.pipeline-card:hover .pipeline-card__descript {
  visibility: visible;
}

/* *********** what-we-do *********** */
.whatwedo {
  background-color: #f7f7f7;
  padding-bottom: 10em;
}

.whatwedo__cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: clamp(1.6rem, 3.8vw, 3.2rem);
}
.whatwedo-card__images {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}
.whatwedo-card__image {
  aspect-ratio: 1.1;
  background-color: #fff;
  background-size: cover;
  flex-shrink: 0;
}

.whatwedo__card:first-child .whatwedo-card__image {
  background-image: url("../assets/images/main/what_01.png");
}
.whatwedo__card:nth-child(2) .whatwedo-card__image {
  background-image: url("../assets/images/main/what_02.png");
}
.whatwedo__card:nth-child(3) .whatwedo-card__image {
  background-image: url("../assets/images/main/what_03.png");
}
.whatwedo__card:nth-child(4) .whatwedo-card__image {
  background-image: url("../assets/images/main/what_04.png");
}
.whatwedo-card__content {
  padding: 3.2em 2.2em 2.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 16.6em;
  box-sizing: border-box;
  background-color: var(--white);
}
.whatwedo-card__title {
  font-size: 2.3rem;
  font-weight: 700;
  color: var(--black);
  line-height: 1.2;
}
.whatwedo-card__more {
  font-size: 1.3rem;
  color: #5e5e5e;
  align-self: flex-end;
}

/* *********** core-tech *********** */
.core-tech {
  background-image: url("../assets/images/main/core_bg.png");
  padding: 9em 0 10em 0;
  background-size: cover;
}
.core-tech__inner {
  position: relative;
}
.core-tech__title {
  color: var(--white);
}
.core-tech__images {
  display: flex;
  gap: clamp(5rem, 5vw, 10rem);
  overflow-x: hidden;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.core-tech__image {
  aspect-ratio: 16 / 10;
  min-height: 56.4rem;
  background-size: cover;
  flex-shrink: 0;
  opacity: 50%;
}
.core-tech__image.active {
  opacity: 1;
}
.core-tech__image:first-child {
  background-image: url("../assets/images/main/core_01.png");
}
.core-tech__image:nth-child(2) {
  background-image: url("../assets/images/main/core_02.png");
}
.core-tech__image:nth-child(3) {
  background-image: url("../assets/images/main/core_03.png");
}

.core-tech__item-title {
  font-size: 3.1rem;
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 0.5em;
  color: var(--black);
}
.core-tech__content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.core-tech__lists {
  position: relative;
  width: 50rem;
}
.core-tech__list {
  background-color: var(--white);
  padding: 5em;
  height: 40rem;
  box-sizing: border-box;
}
.core-tech__item {
  display: block;
}
.core-tech__desc {
  font-size: 1.6rem;
  color: var(--gray-05);
  font-weight: 300;
  width: 70%;
}
.core-tech__controls {
  position: absolute;
  bottom: 0;
}
.core-tech__cta {
  all: unset;
  position: absolute;
  right: 2em;
  bottom: 1.8em;
  font-size: 1.7rem;
  font-weight: 400;
  color: var(--orange-03);
}
.core-tech__link {
  display: block;
}
.core-tech__cta::before {
  content: "";
  display: block;
  background-image: url("../assets/images/main/more_orange.png");
  width: 10px;
  height: 10px;
  background-size: contain;
  position: absolute;
  left: -1.4rem;
  top: 50%;
  transform: translate(-100%, -50%);
}
.core-tech__controls {
  font-size: 0;
}
.core-tech__btn {
  width: 5.6rem;
  height: 5.6rem;
  border: 0;
  border-radius: 0;
  background-color: #eeeeee;
}
.core-tech__btn--next {
  background-color: #e3e3e3;
}
.core-tech__btn--prev .background {
  background-image: url("../assets/images/main/arrow_left_gray.png");
  height: 34px;
  display: block;
}

.core-tech__btn--next .background {
  background-image: url("../assets/images/main/arrow_right_gray.png");
  height: 34px;
  display: block;
}
/* news-notice */
.news-notice__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 9em;
  margin-bottom: 11em;
  gap: clamp(1.5rem, 2vw, 3rem);
}
.news-notice__title {
  text-align: left;
  padding: 0;
  line-height: 1;
}
.news-notice__header {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.news-notice__header a {
  background-image: url("../assets/images/main/more_2.png");
  width: 3.4rem;
  height: 3.4rem;
}
.news-notice__lists {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.news-notice__contents {
  height: calc(100% - 56px);
  display: grid;
  grid-template-rows: repeat(4, 1fr);
}
.news-notice__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  padding-inline: 0.6em;
  border-bottom: 1px solid var(--gray-02);
}
.news-notice__item a {
  color: #626262;
}
.news-notice__item time {
  font-size: 1.2rem;
  color: var(--gray-03);
}
.news-notice__banners {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.news-notice__link {
  color: var(--white);
  aspect-ratio: 337 / 278;
  padding: 2.8em;
  box-sizing: border-box;
  position: relative;
}

.news-notice__link:first-child {
  background-image: linear-gradient(135deg, #ffd500, #ff4e00);
}
.news-notice__link:nth-child(2) {
  background-image: linear-gradient(135deg, #9f9f9f, #505050);
}
.news-notice__link .link-title {
  font-size: 2.8rem;
  font-weight: 600;
}
.news-notice__link .link-text {
  font-size: 1.5rem;
  margin-top: 0.8em;
}
.news-notice__link .link-icon {
  position: absolute;
  right: 2.6rem;
}
.news-notice__link:first-child .link-icon {
  width: 8.5rem;
  height: 8.2rem;
  background-image: url("../assets/images/main/link.png");
  bottom: 1.3vw;
}
.news-notice__link:nth-child(2) .link-icon {
  width: 11rem;
  height: 9.8rem;
  background-image: url("../assets/images/main/Inquiry.png");
  bottom: 1.3vw;
}
/* ********** footer ********** */

.footer {
  background-color: #303030;
}
.footer__inner {
  display: flex;
  flex-direction: column;
}
.footer__nav {
  display: flex;
  justify-content: center;
  border-bottom: 0.5px solid var(--gray-06);
  gap: clamp(1.5rem, 3vw, 3rem);
}
.footer__nav-item > a {
  color: var(--gray-03);
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  padding-top: 1.3em;
  padding-bottom: 0.9em;
  display: inline-block;
}
.footer__nav-item:not(:first-child) > a::before {
  content: "|";
  position: relative;
  left: -1.5vw;
  color: var(--gray-06);
}
.footer__contents {
  display: flex;
  align-items: flex-end;
  padding-top: 5em;
  padding-bottom: 7em;
}
.footer__contents-aside {
  display: grid;
  gap: clamp(4rem, 4vw, 8rem);
  color: var(--gray-03);
  grid-template-columns: 2.5fr 3fr;
}
.footer__info-brand {
  font-weight: 500;
}
.footer__contact {
  display: flex;
  gap: clamp(1rem, 1vw, 2rem);
  margin-top: 0.5em;
}
.footer__contents-aside > p {
  font-size: 3.7rem;
  font-weight: 500;
  line-height: 1.3;
  color: var(--white);
}
.footer__name {
  font-size: 2.4rem;
  font-weight: 700;
  color: #dedede;
  opacity: 0.57;
  margin-bottom: 0.4em;
}
.footer__info-brand {
  font-size: 1.6rem;
}
.footer__contact-label {
  font-weight: 700;
  color: var(--orange-01);
  margin-right: 0.4rem;
}
.footer__logo {
  color: var(--white);
  background-image: url("../assets/images/logo_footer.svg");
  width: 11vw;
  height: 38px;
  flex-shrink: 0;
}
.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer__copyright {
  font-size: 1.4rem;
  color: var(--gray-06);
}
