@charset "utf-8";

/* 너비가 1280px 이하일 때 */
@media screen and (max-width: 1280px) {
  html {
    font-size: 9px;
  }
  .container--md {
    padding-inline: 100px;
  }
  .pc {
    display: none;
  }
  .news-notice__link {
    aspect-ratio: auto;
  }
  .news-notice__banners {
    grid-template-columns: repeat(1, 1fr);
  }
  .news-notice__link:first-child .link-icon {
    width: 6.5rem;
  }
  .news-notice__link:nth-child(2) .link-icon {
    width: 8.5rem;
  }
  .footer__contents-aside {
    grid-template-columns: auto;
  }
  .core-overview .table__content {
    grid-template-columns: repeat(3, 1fr);
  }
  .core-overview .item__group {
    flex-direction: column;
    background-color: transparent;
    gap: 6px;
    border-radius: unset;
  }
  .core-overview .item__group .item__text {
    border-radius: 30px;
  }
  .item__operator-wrap {
    transform: unset;
    transform: scale(0.6);
  }
  .tri-right {
    display: none;
  }

  .app__item:nth-child(6) .app-item__bullets,
  .app__item:nth-child(3) .app-item__bullets {
    top: 55%;
  }
}
@media screen and (max-width: 999px) {
  html {
    font-size: 8px;
  }

  .container--md {
    padding-inline: 50px;
  }
  .header__nav {
    display: none;
  }
  .pipeline__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .whatwedo__cards {
    grid-template-columns: repeat(2, 1fr);
  }
  .mbtc__item {
    grid-template-columns: auto;
  }
  .mbtc-item__title::after {
    content: none;
  }
  .problem__list {
    grid-template-columns: repeat(1, 1fr);
    border-radius: 1rem;
    gap: 1em;
  }
  .problem__item .item__operator {
    bottom: 0;
    transform: translate(-50%, calc(50% - 0.5em)) scale(0.7);
    left: 50%;
  }

  .biohazards__content {
    grid-template-columns: repeat(1, 1fr);
  }

  .app__content {
    min-width: 700px;
    width: 68.8vw;
    margin: 0 auto;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: 8px;
  }
  .page-nav__inner {
    justify-content: unset;
  }
  .page-container {
    padding-block: 7.2em 9.4em;
  }
  .container--md {
    padding-inline: 20px;
  }
  .header__inner {
    justify-content: center;
  }
  .banner__title {
    max-width: unset;
  }
  .banner__content {
    align-items: center;
    text-align: center;
  }
  .banner__controls {
    justify-content: center;
  }
  .news-notice__inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .news-notice__contents {
    height: 200px;
    margin-top: 8px;
  }
  .core-tech__content {
    position: relative;
    inset: unset;
  }
  .core-tech__lists {
    width: auto;
  }
  .core-tech__images {
    gap: 0;
  }
  .core-tech__image {
    width: calc(100% - 40px);
  }
  .core-overview .table__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .footer__nav {
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-bottom: 20px;
  }
  .footer__nav-item > a {
    padding-bottom: 0;
  }
  .footer__nav-item:not(:first-child) > a::before {
    content: "";
  }
  .footer__contents-aside > p {
    text-align: center;
    font-size: 3rem;
  }
  .footer__contents {
    flex-direction: column;
    align-items: center;
    padding-inline: 20px;
    text-align: center;
  }
  .footer__contact {
    justify-content: center;
  }
  .footer__info {
    align-items: center;
  }
  .footer__copyright {
    padding-top: 8px;
    padding-bottom: 16px;
  }
  .platform-tech__title {
    width: 100%;
  }
  .platform-tech__list {
    grid-template-columns: repeat(1, 1fr);
    gap: 0;
  }
  .platform-tech .line {
    display: none;
  }
  .platform-tech__title::after {
    content: none;
  }
  .platform-tech__item:first-child .platform-tech__badge::after,
  .platform-tech__item:last-child .platform-tech__badge::after {
    content: "";
  }
}
@media (max-width: 567px) {
  html {
    font-size: 8px;
  }
  .banner__title {
    font-size: 3.4rem;
  }

  .pipeline__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .whatwedo__cards {
    grid-template-columns: repeat(1, 1fr);
  }
  .news-notice__link .link-icon {
    display: none;
  }
  .core-overview .item__text {
    font-size: 2rem;
  }
  .core-tech__desc {
    width: 100%;
  }
  .current-tech__process {
    border-radius: 1.4em;
  }
  .current-tech__container {
    border-radius: 1.4em;
  }
  .current-tech__list {
    border-radius: 0;
  }
  .current-tech__step:not(:last-child)::before {
    width: 50%;
    right: -30%;
  }
  .current-tech__step:not(:last-child)::after {
    right: -35%;
  }
}
